/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
body {font-family: 'Ek Mukta', sans-serif;color: #666;background-color: #fff;font-size: 16px;line-height: 1.6em;font-weight: 400;}
html, body {width:100%; padding:0; margin:0;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

h1 {font-size: 38px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 24px;}
h6 {font-size: 20px;}

h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif;font-weight: 600;color: #111;}

p {margin: 0 0 20px;}

a {
   color: #333;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
   text-decoration: none;
}
a:hover,
a:focus {text-decoration: none;}

ul {padding: 0;margin: 0;}
ul li {list-style:none;}

select {border: 0;background: transparent;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
/* ---------------------------------------------------------------------------- */
/* -----------------------------------Header----------------------------------- */
/* ---------------------------------------------------------------------------- */
.topOne {
	background-color:#F6F6F6;
	padding: 7px 0; 

}
.topOne .language ,.currency {

}
.topOne ul{
	float: right;
	list-style-type: none;
}
.topOne ul li{
	display: inline-block;
	margin-left:10px;
}

.topTwo{ 
	padding: 50px 0;
 }
 .topTwo .logo{
 	margin: 5px 0 15px;
 }

.topTwo .form-search input{
	width: 70%;
	height: 55px;


}
.topTwo .form-search button{
	background-color: #222;
	font-size: 20px;
	padding: 13px 15px;
	color: white;
}
.topTwo .form-search button:hover{
	color: #eee;
}
.topTwo #cart {
	float: right;
	font-weight: 400;
}
.topTwo a{
	font-size: 20px;
 	padding: 15px;
}
@media(max-width:768px) {
	.topTwo #cart {margin-top: 20px;}
	.topTwo #cart {float: none;}
}

#menu {background-color: #111;border-radius: 0;font-size: 13px;}
.navbar{margin-bottom:0px;	 padding: 0px;}
#menu #button-test #heading {float: left;padding-left: 15px;font-size: 20px;font-weight: 700;line-height: 40px;color: #fff;margin-top: 10px;text-transform: uppercase;}
#menu .dropdown-menu {background-color: #111;}
#menu .dropdown-menu li > a:hover {color: #ffffff; }
#menu .dropdown-inner {display: table;}
#menu .dropdown-inner ul {display: table-cell;}
#menu .dropdown-inner a {min-width: 160px;display: block;clear: both;line-height: 20px;font-size: 12px;}
#menu li.dropdown:hover>a, #menu li.dropdown:focus>a, #menu li.dropdown:active>a{background: #3f3f3f;}
#menu ul.nav li a{color: #fff;padding: 20px ;text-transform: uppercase;float: left;}
#menu ul.nav li a:hover{background-color: #3f3f3f;}
#menu .btn-navbar {font-size: 20px;color: #FFF;padding: 5px 15px;float: right;border: 3px solid #fff;}
#menu .dropdown:hover .dropdown-menu {display: block;}
#menu #button-test span{
	display: none;
}
#menu .btn{
	padding: 0px;
	border: none;
}


@media(max-width:767px) {
#menu #test {
	display: none;
}
#menu #button-test span{
	display: block;
	color: white;
	float: left;
	padding: 20px; 
   text-transform: uppercase;
}

#menu #button-test:hover #test{
display: block; 
}
#menu #button-test:hover span{
background-color: #3f3f3f;
}
#menu #button-test:visited{ 
	background-color: red;
	border: none;
}
}

#page-content{
	margin-top: 20px;
}
#page-content .item1{
	background-image: url(images/main-banner1-1903x600.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	height: 360px;
}
#page-content .item1:before{
	content: "";
	background-image: url(images/main-banner2-1903x600.jpg);
	background-size: cover;
	background-position: center;
	position: absolute;
	height: 100%;
	width: 0;
}
#page-content .item1:hover:before{
	width: 100%;
}
@media(max-width: 767px){
	#page-content .item1{
		height: 96px;
	}
}